.footer {
  position: sticky;
  top: 100%;
  background-color: white;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid rgb(172, 172, 172);
  bottom: 0;

  &-container {
    margin: 15px 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(172, 172, 172);

    p {
      font-size: 10px;
      color: rgb(172, 172, 172);
      margin: 0;
      margin-bottom: 5px;
    }

    &-inf {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 15px;
        margin-right: 15px;
        color: #0e73c6;
      }
    }
  }
}
