.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .name {
    max-width: 250px;
    border-radius: 20px;
    margin: 0px 10px;
  }
  .logo-plane {
    width: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
    border: 2px solid white;
  }

  .logo-loading {
    width: 80px;
    border-radius: 50px;
    border: 2px solid white;
  }
}
