.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .name {
    color: #0e73c6;
    border: 1px solid #0e73c6;
    padding: 5px;
    border-radius: 20px;
    font-weight: 200;
    background-color: white;
    margin: 10px;
  }
  .logo-plane {
    width: 50px;
  }

  .logo-loading {
    width: 50px;
  }
}
