* {
  font-family: "Montserrat", sans-serif;

  body {
    background: #d4e9fe;
  }

  .App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95vh;
    flex-direction: column;
  }
}
