.check-container {
  display: flex;
  width: 100%;
  padding-bottom: 11px;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );

  &-booking {
    min-width: 40%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0px;
  }
}
